/** GENERAL **/

body,h1,ul,li { margin: 0px; }

body { background-color: #1a1a1a; }

a, a:hover { text-decoration: none; cursor: pointer; }

a.right { float: right; }

table { width: 100%; }

td { vertical-align: middle; }

td.center { text-align: center; }
td.right { text-align: right; }

li  { display: inline; }

.fixed {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.menu {
	font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 600;
	
	text-transform : uppercase;
	padding: 0;
}

.menu>* { padding: 0 15px 0 15px; }

.menu.first>*  { padding-left: 0px; }
.menu.last>*  { padding-right: 0px; }


/* INPUT */

input , label, textarea {
	border: none;
	padding: 2px;
	font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
	vertical-align: middle;
}

input {
	height: 24px;
}

label {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding: 2px 8px 2px 8px;
	width: 200px;
	text-align: left;
}

select {
	font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
	padding: 2px;
	height: 24px;
}

.label-select {
	margin: 10px 0 10px 0;
	font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
}

form .vborder { 	border-right: 1px solid #d1d1d1; }

input[type=text],input[type=password], textarea { padding-left: 5px; }

input:focus { outline: none; }

::-webkit-input-placeholder { #d1d1d1; font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; font-size: 13px; }
::-moz-placeholder { font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; font-size: 13px; } /* firefox 19+ */
:-ms-input-placeholder { font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; font-size: 13px; } /* ie */
input:-moz-placeholder { font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; font-size: 13px; }


/** HEADER **/

body>header {
	z-index: 3;
	position: fixed;
	top: 0px;
	width: 100%;
}

body>header div { color: #d1d1d1; }

body>header a { color: #d1d1d1; }

body>header a:hover, #credits a:hover { color: #ffffff; }

body>header input[type=text], body>header input[type=password], body>header textarea { width: 200px; }

body>header ::-webkit-input-placeholder { color: #d1d1d1; }
body>header ::-moz-placeholder { color: #d1d1d1; } /* firefox 19+ */
body>header :-ms-input-placeholder { color: #d1d1d1; } /* ie */
body>header input:-moz-placeholder { color: #d1d1d1; }

body>header input, body>header label, body>header textarea { background-color: #515151; color: #d1d1d1; }

#navigable {
	background-color: #1a1a1a;

	border-bottom: 8px solid rgba(26, 26, 26, .8);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box;
}

#logo { 	display: inline-block; padding: 20px 0 14px 0; }

#search { float: right; padding: 31px 0 0 0; }

#search form { display: inline-block; }

#search form.first { padding-right: 6px; }

nav ul { padding: 0 0 4px 0; }

nav li i, #tools li i { margin-right: 5px; 	font-size: 15px; }

#login, #count, #add , #tools {
	background-color: rgb(26, 26, 26);
	background-color: rgba(26, 26, 26, .8);
	padding: 0 0 8px 0;
}

#login form, #add form { text-align: right; }

#count, #tools {
	font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
}

#count li.menu.first {
	text-transform: none;
	padding-right: 30px;
}

#count ul, #tools ul { padding: 5px 0 5px 0; }

#add input[type=text] { width: 960px; }

/** CONTENT **/

body>section {
	z-index: 2;
	position: relative;
	margin-top: 110px;
}

article>div { font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; }

article a:hover, #paging a:hover {
    -khtml-opacity:0.5; /* SAFARI TRES VIELLE VERSION < 2.1 */
    -moz-opacity : 0.5; /* FIREFOX TRES VIELLE VERSION <= 0.9*/
    -ms-filter: "alpha(opacity=50)";  /* IE 8 ET COMPRIS PAR IE 10*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);  /* IE > 4 et < 8 ET COMPRIS PAR IE 10*/
    filter : alpha(opacity=50);  /* IE 4 */
    opacity : 0.5; /* AUTRE */
}

article header {
	font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 47px;
	font-weight: 600;
	
	line-height: 1.2;
	
	padding: 54px 0 22px 0;
}

article p img { float: left; margin: 5px 15px 15px 0; border: 1px solid;}

article p { font-size: 16px; text-align: justify; }

article p a { text-decoration: underline; }

article footer ul { padding: 15px 0 35px 0; line-height: 2.5; }

article li { height: 24px; display: inline-block; }

article li  * { vertical-align: middle; }

article footer li.menu.first { text-transform: capitalize; }

article li i { margin-right: 5px;	font-size: 24px; }

article input[type=text], article input[type=password], article textarea { width: 100%; margin-bottom: 10px; border: 1px solid; }

article label { width: 800px; }

article.color1 { background-color: #ff8700; }
article.color1>div, article.color1 a, article.color1 a:hover { color: #ffffff; }
article.color1 p img { border-color: #ffffff;}
article.color1 input, article.color1 label, article.color1 textarea, article.color1 select { background-color: #ff8700; color: #ffffff; }
article.color1 input, article.color1 textarea { border-color: #ffffff; }
article.color1 ::-webkit-input-placeholder { color: #ffffff; }
article.color1 ::-moz-placeholder { color: #ffffff; } /* firefox 19+ */
article.color1:-ms-input-placeholder { color: #ffffff; } /* ie */
article.color1 input:-moz-placeholder { color: #ffffff; }

article.color2  { background-color: #ffffff; }
article.color2>div, article.color2 a, article.color2 a:hover  { color: #515151; }
article.color2 p img { border-color: #515151;}
article.color2 input, article.color2 label, article.color2 textarea, article.color2 select  { background-color: #ffffff; color: #515151; }
article.color2 input, article.color2 textarea { border-color: #515151; }
article.color2 ::-webkit-input-placeholder { color: #515151; }
article.color2 ::-moz-placeholder { color: #515151; } /* firefox 19+ */
article.color2:-ms-input-placeholder { color: #515151; } /* ie */
article.color2 input:-moz-placeholder { color: #515151; }

article.color3  { background-color: #f2ff00; }
article.color3>div, article.color3 a, article.color3 a:hover  { color: #454545; }
article.color3 p img { border-color: #454545;}
article.color3 input, article.color3 label, article.color3 textarea, article.color3 select { background-color: #f2ff00; color: #454545; }
article.color3 input, article.color3 textarea { border-color: #454545; }
article.color3 ::-webkit-input-placeholder { color: #454545; }
article.color3 ::-moz-placeholder { color: #454545; } /* firefox 19+ */
article.color3:-ms-input-placeholder { color: #454545; } /* ie */
article.color3 input:-moz-placeholder { color: #454545; }

article.color4  { background-color: #515151; }
article.color4>div, article.color4 a, article.color4 a:hover  { color: #ffffff; }
article.color4 p img { border-color: #ffffff;}
article.color4 input, article.color4 label, article.color4 textarea, article.color4 select { background-color: #515151; color: #ffffff; }
article.color4 input, article.color4 textarea { border-color: #ffffff; }
article.color4 ::-webkit-input-placeholder { color: #ffffff; }
article.color4 ::-moz-placeholder { color: #ffffff; } /* firefox 19+ */
article.color4:-ms-input-placeholder { color: #ffffff; } /* ie */
article.color4 input:-moz-placeholder { color: #ffffff; }


/** FOOTER **/

body>footer { z-index: 1; }

#paging { background-color: #919191; }

#paging>div {
	color: #ffffff;
	
	font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
}

#paging a, #paging a:hover { color: #ffffff; }

#paging i { font-size: 35px; padding: 4px 8px 0 8px; }

#credits>div {
	color: #d1d1d1;
	
	font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	
	padding: 10px 0 10px 0;
}

#credits a { color: #d1d1d1; }
