/** GENERAL **/

body,h1,ul,li { margin: 0px; }

body { background-color: #1a1a1a; }

a, a:hover { text-decoration: none; cursor: pointer; }

a.right { float: right; }

table { width: 100%; }

td { vertical-align: middle; }

td.center, form.center { text-align: center; }
td.right, form.right { text-align: right; }

li  { display: inline; }

.fixed {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

ul.menu li {
	font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 600;
	
	text-transform : uppercase;
	padding: 0 30px 0 0;
}

ul.menu li>i { padding: 0 5px 0 0; }

ul.menu li.last>*  { padding: 0; }


/* INPUT */

input , label, textarea {
	border: none;
	padding: 2px;
	font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
	vertical-align: middle;
}

input {
	height: 24px;
}

label {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding: 2px 8px 2px 8px;
	width: 200px;
	text-align: left;
}

select {
	font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
	padding: 2px;
	height: 24px;
}

.label-select {
	margin: 10px 0 10px 0;
	font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
}

.label-select b { display: none; }

form .vborder { 	border-right: 1px solid #d1d1d1; }

input[type=text],input[type=password], textarea { padding-left: 5px; }

input:focus { outline: none; }

::-webkit-input-placeholder { #d1d1d1; font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; font-size: 13px; }
::-moz-placeholder { font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; font-size: 13px; } /* firefox 19+ */
:-ms-input-placeholder { font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; font-size: 13px; } /* ie */
input:-moz-placeholder { font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; font-size: 13px; }

.ui-autocomplete li {
    font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
    font-size: 13px;
    display:block;
    border: 1px solid;
    width: 200px;
    padding: 4px;
}

/** HEADER **/

body>header {
	z-index: 3;
	position: fixed;
	top: 0px;
	width: 100%;
}

body>header div { color: #d1d1d1; }

body>header a { color: #d1d1d1; }

body>header a:hover, #credits a:hover { color: #ffffff; }

body>header input[type=text], body>header input[type=password], body>header textarea { width: 200px; }

body>header ::-webkit-input-placeholder { color: #d1d1d1; }
body>header ::-moz-placeholder { color: #d1d1d1; } /* firefox 19+ */
body>header :-ms-input-placeholder { color: #d1d1d1; } /* ie */
body>header input:-moz-placeholder { color: #d1d1d1; }

body>header input, body>header label, body>header textarea { background-color: #515151; color: #d1d1d1; }

.autocompletesearchtags .ui-autocomplete li { background-color: #515151; border-color: #d1d1d1; }
.autocompletesearchtags .ui-autocomplete li a { color: #d1d1d1; }

#navigable {
	background-color: #1a1a1a;

	border-bottom: 8px solid rgba(26, 26, 26, .8);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box;
}

#logo { 	display: inline-block; padding: 20px 0 14px 0; }

#search { float: right; padding: 31px 0 0 0; }

#search form { display: inline-block; }

#search form.first { padding-right: 6px; }

nav ul { padding: 0 0 4px 0; }

nav li i, .ppheader li i { margin-right: 5px; font-size: 15px; }

.ppheader {
	background-color: rgb(26, 26, 26);
	background-color: rgba(26, 26, 26, .8);
	padding: 0 0 8px 0;
        
        font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
}

.ppheader ul { padding: 5px 0 5px 0; }

#count li.first {
	text-transform: none;
	padding-right: 30px;
}

/** CONTENT **/

body>section {
	z-index: 2;
	position: relative;
	margin-top: 110px;
}

article>div { font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; }

article a:hover, #paging a:hover {
    -khtml-opacity:0.5; /* SAFARI TRES VIELLE VERSION < 2.1 */
    -moz-opacity : 0.5; /* FIREFOX TRES VIELLE VERSION <= 0.9*/
    -ms-filter: "alpha(opacity=50)";  /* IE 8 ET COMPRIS PAR IE 10*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);  /* IE > 4 et < 8 ET COMPRIS PAR IE 10*/
    filter : alpha(opacity=50);  /* IE 4 */
    opacity : 0.5; /* AUTRE */
}

article header {
	font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 47px;
	font-weight: 600;
	
	line-height: 1.2;
	
	padding: 54px 0 22px 0;
}

article p img { float: left; margin: 5px 15px 15px 0; border: 1px solid;}

article p { font-size: 16px; text-align: justify; }

article p a { text-decoration: underline; }

article footer { clear: left; padding: 15px 0 35px 0; }

article footer ul { line-height: 2.5; padding: 0;}

article li { height: 24px; display: inline-block; }

article li  * { vertical-align: middle; }

article footer li.first { text-transform: capitalize; }

article li i { margin-right: 5px;	font-size: 24px; }

article input[type=text], article input[type=password], article textarea { width: 100%; margin-bottom: 10px; border: 1px solid; }

article label { width: 800px; }

.color1 { background-color: #ff8700; }
.color1>div, .color1 a, .color1 a:hover { color: #ffffff; }
.color1 p img { border-color: #ffffff;}
.color1 input, .color1 label, .color1 textarea, .color1 select { background-color: #ff8700; color: #ffffff; }
.color1 input, .color1 textarea { border-color: #ffffff; }
.color1 ::-webkit-input-placeholder { color: #ffffff; }
.color1 ::-moz-placeholder { color: #ffffff; } /* firefox 19+ */
.color1:-ms-input-placeholder { color: #ffffff; } /* ie */
.color1 input:-moz-placeholder { color: #ffffff; }
.color1 .ui-autocomplete li { background-color: #ffffff; border-color: #ff8700 }
.color1 .ui-autocomplete li a { color: #ff8700; }

.color2  { background-color: #ffffff; }
.color2>div, .color2 a, .color2 a:hover  { color: #515151; }
.color2 p img { border-color: #515151;}
.color2 input, .color2 label, .color2 textarea, .color2 select  { background-color: #ffffff; color: #515151; }
.color2 input, .color2 textarea { border-color: #515151; }
.color2 ::-webkit-input-placeholder { color: #515151; }
.color2 ::-moz-placeholder { color: #515151; } /* firefox 19+ */
.color2:-ms-input-placeholder { color: #515151; } /* ie */
.color2 input:-moz-placeholder { color: #515151; }
.color2 .ui-autocomplete li { background-color: #515151; border-color: #ffffff; }
.color2 .ui-autocomplete li a { color: #ffffff; }

.color3  { background-color: #f2ff00; }
.color3>div, .color3 a, .color3 a:hover  { color: #454545; }
.color3 p img { border-color: #454545;}
.color3 input, .color3 label, .color3 textarea, .color3 select { background-color: #f2ff00; color: #454545; }
.color3 input, .color3 textarea { border-color: #454545; }
.color3 ::-webkit-input-placeholder { color: #454545; }
.color3 ::-moz-placeholder { color: #454545; } /* firefox 19+ */
.color3:-ms-input-placeholder { color: #454545; } /* ie */
.color3 input:-moz-placeholder { color: #454545; }
.color3 .ui-autocomplete li { background-color: #454545; border-color: #f2ff00; }
.color3 .ui-autocomplete li a { color: #f2ff00; }

.color4  { background-color: #515151; }
.color4>div, .color4 a, .color4 a:hover  { color: #ffffff; }
.color4 p img { border-color: #ffffff;}
.color4 input, .color4 label, .color4 textarea, .color4 select { background-color: #515151; color: #ffffff; }
.color4 input, .color4 textarea { border-color: #ffffff; }
.color4 ::-webkit-input-placeholder { color: #ffffff; }
.color4 ::-moz-placeholder { color: #ffffff; } /* firefox 19+ */
.color4:-ms-input-placeholder { color: #ffffff; } /* ie */
.color4 input:-moz-placeholder { color: #ffffff; }
.color4 .ui-autocomplete li { background-color: #ffffff; border-color: #515151; }
.color4 .ui-autocomplete li a { color: #515151; }


/** FOOTER **/

body>footer { z-index: 1; }

#paging { background-color: #919191; }

#paging>div {
	color: #ffffff;
	
	font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
}

#paging a, #paging a:hover { color: #ffffff; }

#paging i { font-size: 35px; padding: 4px 8px 0 8px; }

#credits>div {
	color: #d1d1d1;
	
	font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	
	padding: 10px 0 10px 0;
}

#credits a { color: #d1d1d1; }
