/***** RESET ALL CSS *****/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***** START HERE *****/

/* GENERAL */

body {
	background-color: #1a1a1a;
}

a, a:hover { text-decoration: none; cursor: pointer; }

td, th {
	vertical-align: middle;
}

td.separator {
	width: 100%;
}

::-webkit-input-placeholder { #d1d1d1; font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; font-size: 13px; }
::-moz-placeholder { font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; font-size: 13px; } /* firefox 19+ */
:-ms-input-placeholder { font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; font-size: 13px; } /* ie */
input:-moz-placeholder { font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; font-size: 13px; }

input, label, textarea {
	font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
	
	border: none;
	margin: 0;
	
	vertical-align: middle;
}

input {
	padding: 4px;
	height: 24px;
}

label {
	padding: 4px 8px 4px 8px;
	height: 24px;
}

textarea {
	padding: 4px;
}

input.button {
	width: 24px;
}

input.cb {
	margin: 4px 4px 4px 12px;
}

input.medium {
	width: 200px;
}

input:focus, textarea:focus { outline: none; }

form .vborder { 	border-left: 1px solid #d1d1d1; }

.label-select {
	padding: 10px 0 10px 0;
	font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
}

.fixed {
	width: 1000px;
}

.max-fixed {
	width: 960px;
}	

.full {
	width: 100%;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.menu, .article-footer, #footer-nav  {
	font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 600;
}

.menu table.full table th {
	padding: 0 8px 0 0;
}

.menu td.left {
	padding: 0 30px 0 0;
}

.menu a {
	color: #d1d1d1;
}

.menu a:hover {
	color: #ffffff;
}


/* HEADER */

/** HEADER LOGO **/

#header-logo td.fixed {
	padding: 20px 0 0 0;
}

#header-logo table.full td  {
	vertical-align: top;
}

#header-logo td.left {
	padding: 0 34px 0 0;
}

#header-logo td.right {
	width: 240px;
	padding: 11px 0 0 6px;
}

#header-logo form, #header-submenu form {
	white-space: nowrap;
	background-color: #515151;
}

#header-logo input, #header-submenu input, #header-submenu label {
	background-color: #515151;
	color: #d1d1d1;
}

#header-logo, #header-submenu ::-webkit-input-placeholder { color: #d1d1d1; }
#header-logo, #header-submenu ::-moz-placeholder { color: #d1d1d1; } /* firefox 19+ */
#header-logo, #header-submenu :-ms-input-placeholder { color: #d1d1d1; } /* ie */
#header-logo input:-moz-placeholder, #header-submenu input:-moz-placeholder { color: #d1d1d1; }


/** HEADER MENU **/

#header-menu td.fixed {
	padding: 20px 0 8px 0;
}


/** HEADER SEPARATOR **/

#header-separator, #header-submenu {
	background-color: #333333;
}

#header-separator td {
	height: 8px;
}


/** HEADER SUBMENU **/

#header-submenu td.fixed {
	padding: 5px 0 13px 0;
}


/* ARTICLE */

.article-title {
	font-family: 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 47px;
	font-weight: 600;
	
	line-height: 1.2;

	padding: 50px 0 0 0;
}

.article-content {
	font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 16px;
	text-align: justify;
	
	line-height: 1.3;
	
	padding: 30px 0 0 0;
}

.article-content a {
	text-decoration: underline;
}

.article-input {
	width: 95%;
	margin-bottom: 10px;
	border: 1px solid;
}

a.image {
	float: left;
	margin: 5px 15px 15px 0;
	padding: 1px;
}

a.image img {
	width: 120px;
	height: auto;
	vertical-align: bottom;
}

.article-footer .cmd {
	float:left;
	padding: 0 0 12px 0;
}

.article-footer table th {
	padding: 0 8px 0 0;
}

.article-footer table td {
	padding: 0 30px 0 0;
}

.article-footer.caracs {
	padding: 30px 0 18px 0;
}

.article-footer.tags {
	padding: 0 0 30px 0;
}

.article-footer.actions {
	padding: 30px 0 30px 0;
}


/** ARTICLE COLOR 1 **/

.article1, .article1 input, .article1 label, .article1  textarea, .article1 select {
	background-color: #ff8700;
}

.article1, .article1 a, .article1 input, .article1 label, .article1  textarea, .article1 select {
	color: #ffffff;
}

.article1 a.image {
	background-color: #ffffff;
}

.article1 input, .article1 textarea {
	border-color: #ffffff;
}

.article1 a:hover {
	color: #ffc380;
}

.article1 a.image:hover {
	background-color: #ffc380;
}

.article1 ::-webkit-input-placeholder { color: #ffffff; }
.article1 ::-moz-placeholder { color: #ffffff; } /* firefox 19+ */
.article1:-ms-input-placeholder { color: #ffffff; } /* ie */
.article1 input:-moz-placeholder { color: #ffffff; }


/** ARTICLE COLOR 2 **/

.article2, .article2 input, .article2 label, .article2  textarea, .article2 select {
	background-color: #ffffff;
}

.article2, .article2 a, .article2 input, .article2 label, .article2  textarea, .article2 select  {
	color: #515151;
}

.article2 a.image {
	background-color: #515151;
}

.article2 input, .article2 textarea {
	border-color: #515151;
}

.article2 a:hover {
	color: #a8a8a8;
}

.article2 a.image:hover {
	background-color: #a8a8a8;
}

.article2 ::-webkit-input-placeholder { color: #515151; }
.article2 ::-moz-placeholder { color: #515151; } /* firefox 19+ */
.article2:-ms-input-placeholder { color: #515151; } /* ie */
.article2 input:-moz-placeholder { color: #515151; }


/** ARTICLE COLOR 3 **/

.article3, .article3 input, .article3 label, .article3  textarea, .article3 select {
	background-color: #f2ff00;
}

.article3, .article3 a, .article3 input, .article3 label, .article3  textarea, .article3 select {
	color: #454545;
}

.article3 a.image {
	background-color: #454545;
}

.article3 input, .article3 textarea {
	border-color: #454545;
}

.article3 a:hover {
	color: #9ba223;
}

.article3 a.image:hover {
	background-color: #9ba223;
}

.article3 ::-webkit-input-placeholder { color: #454545; }
.article3 ::-moz-placeholder { color: #454545; } /* firefox 19+ */
.article3:-ms-input-placeholder { color: #454545; } /* ie */
.article3 input:-moz-placeholder { color: #454545; }


/** ARTICLE COLOR 4 **/

.article4, .article4 input, .article4 label, .article4  textarea, .article4 select  {
	background-color: #515151;
}

.article4, .article4 a, .article4 input, .article4 label, .article4  textarea, .article4 select  {
	color: #ffffff;
}

.article4 a.image {
	background-color: #ffffff;
}

.article4 input, .article4 textarea {
	border-color: #ffffff;
}

.article4 a:hover {
	color: #a8a8a8;
}

.article4 a.image:hover {
	background-color: #a8a8a8;
}

.article4 ::-webkit-input-placeholder { color: #ffffff; }
.article4 ::-moz-placeholder { color: #ffffff; } /* firefox 19+ */
.article4:-ms-input-placeholder { color: #ffffff; } /* ie */
.article4 input:-moz-placeholder { color: #ffffff; }


/* FOOTER */

/** FOOTER NAVIGATION **/

#footer-nav {
	background-color: #919191;
}

#footer-nav img{
	padding: 4px 8px 4px 8px;
}

#footer-nav table.full td.size10 {
	width: 10%;
}

#footer-nav table.full td.size20 {
	width: 20%;
}

#footer-nav table.full td.size30 {
	width: 30%;
}

#footer-nav table.full td.size40 {
	width: 40%;
}

#footer-nav, #footer-nav a {
	color: #ffffff;
}

#footer-nav a:hover {
	color: #cbcbcb;
}


/** FOOTER CREDITS **/

#footer-credits {
	font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
}

#footer-credits td.fixed {
	padding: 12px 0 12px 0;
}

#footer-credits, #footer-credits a {
	color: #d1d1d1;
}

#footer-credits a:hover {
	color: #e8e8e8;
}
